h1{
    text-align: center;
    font-family: "Wittgenstein", serif;
    font-weight: bold;
    font-size: 50px;

}
*{
    margin: 0px;
    padding: 0px;
}
h3{
    text-align: center;
    margin-top: 30px;
    color: #808080;
    margin-bottom: 0px;
    padding-top: 0px;
}
h2{
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 0px;
    font-family: 'new';    
}
li{
    margin-right: 10px;
    display: inline;
    font-weight: bold;
}
ul{
    text-align: center;

}
 body{
    border: 6px solid;
    border-style: double;
    padding-bottom: 130px; 
    margin-left: 5px; 
    margin-right: 5px;  

}  
a:hover{
    color: #fc0a0a;
     
}
 div{
    text-align: center;
    
    
 }
 p{
    font-weight: bold;
    width: 550px;
    margin-left: 400px;
 }
 .two{
    text-align: center;
    color: #808080;
 }
 a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
 }

 .box{
    border: 2px solid black;
    margin: 20px auto;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    width: 550px;
    
 }
 .images{
    width: 550px;
    height: 150px;
    display: flex;
    margin-left: 400px;
    

 }

 @font-face {
    font-family: 'new';
    src: url(futurak.ttf);
 }